<!DOCTYPE HTML>
<html>
    <head>
        {% include preamble.html %}
        <title>{{page.title}}</title>
<script>
function lists_get_random_item(list, remove) {
  var x = Math.floor(Math.random() * list.length);
  if (remove) {
    return list.splice(x, 1)[0];
  } else {
    return list[x];
  }
}

function StinkyLarva(){
document.getElementById("banana").innerHTML = String('You are a ') + String(String(String(lists_get_random_item(
['stinky', 'smelly', 'pointless'], false)) + String(String(' ') + String(lists_get_random_item(
['nagle', 'larva', 'schmuck'], false)))) + String('.'));
}
</script>
    </head>
    <body onload="StinkyLarva();">
        {% include header.html %}
        <div id="content">
            <article>
                {{content}}
                {% include postindex.html %}
            </article>
        </div>
        {% include footer.html %}
</html>
